/* ie 7 css */
.searchBox {
	
}
.searchBox .text{
	width:auto !important;
	height: auto ;
	margin-bottom:20px;
	border-right: 15px solid transparent !important;
	line-height:18px;
	height:18px !important;
	overflow:hidden;
}
.subscribeBox {
	clear:both;
}


.subscribeBox .text{
	width: 265px !important;
	height:28px !important;
	line-height:28px;
	padding:0px 10px;
	width:265px;
	overflow:hidden;
} 

.categoriesWidget {
	clear:both;
}