/* coderProfile */
.coderProfile #hero{
    background: #4b536b url(../i/profile-sprite.png) repeat-x;
}
    .coderProfile #hero .container{
        min-height: 235px;        
    }
    .coderProfile .inner{
        background: url(../i/bg-profile.jpg) 50% 0 no-repeat;
    }
/* aboutCoder */
.aboutCoder{
    color: #fff;
    position: relative;
    min-height: 235px;
}
    .aboutCoder .details{
        padding-top: 13px;
    }
    .aboutCoder .coderPicWrap img{     
        height: auto;
        width: 200px;
        max-width: 200px;
    
}
    .aboutCoder .coderPicWrap{
        float: left;
    
        height: 209px;
        border: 3px solid #FFF;  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
        overflow: hidden;
}
    .aboutCoder .info{
        margin-left: 220px;
        color: #fff;
        font-size: 16px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }
    .aboutCoder .info label{
        font-size: 16px;
        line-height: 32px;
    }
    .aboutCoder .country{
        line-height: 24px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .aboutCoder .handle a{
        font-size: 24px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    .aboutCoder .handle a:hover{
        color: #FF8A00;
    }
    .aboutCoder .info .val{
        font-size: 24px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .aboutCoder .coderQuote{
       font-size: 28px;
       position: absolute;
       top: 62px;
       right: 0;
       max-width: 540px;    
       line-height: 32px;
    }
    .aboutCoder .social{
        position: absolute;
        right: -6px;
        bottom: 6px;
        padding: 10px 6px;
        overflow: hidden;
    
        min-height: 35px;
        min-width: 200px;
}
    .aboutCoder .social > li{
        float: right;
        margin-left: 10px;
    }
    .aboutCoder .social a{
        height: 35px;
        width: 35px;
        background: url(../i/ico-social-alt.png) no-repeat;
        background-position: 0 0;
        display: inline-block;
        border-radius: 18px;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
    }
    .aboutCoder .social a:hover{        
        box-shadow: 0 0 10px #fff;
    }
    .aboutCoder .social .fb{
        background-position: 0 -120px;
    }
    .aboutCoder .social .mail{
        background-position: 0 -40px;
    }
    .aboutCoder .social .tw{
        background-position: 0 -80px;
    }
    .aboutCoder .social .gp{
        background-position: 0 0;
    }
/* switchBtns */
.switchBtns{
    overflow: hidden;    
}
    .switchBtns > li{
        float: left;
    }
    .switchBtns a{
        height: 34px;
        line-height: 34px;
        display: block;
        border: 1px solid #ffae00;
        margin-left: -1px;
        color: #00aeff;
        text-align: center;
        min-width: 89px;
        background: #fff;
    }
    .trackdesign .switchBtns a{
        border: 1px solid #00aeff;        
        color: #ffae00;    
        margin-left: -1px;
}
    .switchBtns a:hover,
    .switchBtns a.isActive{
        background-color: #ffae00;
        color: #fff;
    }
    .trackdesign .switchBtns a:hover,
    .trackdesign  .switchBtns a.isActive{
        background-color: #00aeff;
        color: #fff;
    }
    .switchBtns .first a{
        border: 1px solid #ffae00;
        margin-left: 0;
        position: relative;
        border-radius: 4px 0 0 4px;
        behavior: url(../../wp-content/themes/tcs-responsive/css/PIE.htc);  
    }
    .trackdesign .switchBtns .first a{
        border: 1px solid #00aeff;
    }
    .switchBtns .last a{
        position: relative;
        border-radius: 0 4px 4px 0;
        behavior: url(../../wp-content/themes/tcs-responsive/css/PIE.htc);        
    
    }
    .viewSwitch a{
        min-width: 57px;
        background: url(../i/view-switch.png) no-repeat;
        background-position: 50% -116px;
    }
    .viewSwitch .graphView a{
        min-width: 57px;
        background-position: 50% 0;
    }
    .viewSwitch .graphView a.isActive,
    .viewSwitch .graphView a:hover{
        background-position: 50% 4px;
    }
    .viewSwitch .graphView a{
        background-position: 50% -37px;
    }
    .viewSwitch .tabularView a.isActive,
    .viewSwitch .tabularView a:hover{
        background-position: 50% -76px;
    }
    .viewSwitch .tabularView a{
        background-position: 50% -116px;
    }
/* coderRatings */
.coderRatings{
    color: #333;
    padding-top: 19px;
}
    .coderRatings .actions{
        margin-bottom: 20px;
    
        overflow: hidden;
}
    .coderRatings .actions .trackSwitch{
        overflow: hidden;
    
        float: left;
        margin-right: 59px;
        padding-right: 2px;
}
    .coderRatings .actions .viewSwitch{
        float: left;
    }
    .coderRatings .actions.trackdesign .viewSwitch{
        display: none; 
    }
/* algoLayout */
.algoLayout{
    position: relative;
    color: #333; 
}
    .algoLayout .ratingInfo{
        margin-right: 240px;
    
        margin-bottom: 5px;
}
    .algoLayout .head{
        border: 1px solid #e7e7e7;
    
        border-right: none;
}
    .algoLayout .badges{
        position: absolute;
        right: 0;
        width: 240px;
        background: #f7f7f7;
        top: 0;
        bottom: 0;    
        border: 1px solid #e7e7e7;
    }
    .algoLayout h4{
        color: #333;
        line-height: 32px;
    }
    .algoLayout .trackNRating{
        background: #f2f2f2;
        text-align: center;
        width: 237px;
        border-right: 1px solid #e7e7e7;
        min-height: 140px;
        float: left;
    }
    .algoLayout .trackNRating h4{
        padding-top: 8px;
    }
    .algoLayout .trackNRating .rating{
        font-weight: bold;
        font-size: 60px;
        line-height: 68px;
        color: #ffae00;
    }
    .algoLayout .detailedRating{
        margin-left: 258px;
        overflow: hidden;
        min-height: 124px;
        padding-top: 16px;
    }
    .algoLayout .detailedRating .row {
        line-height: 22px;
        min-width: 240px;
        float: left;
    
        overflow: hidden;
}
    .algoLayout .row label{
        font-weight: bold;
        display: inline-block;
    
        float: left;
}
    .algoLayout .row .val{
        display: inline-block;
        margin-left: 5px;
    
        float: left;
}
    .algoLayout .badges .head{
        text-align: center;
        border: none;
        height: 53px;
        border-bottom: 1px solid #e7e7e7;
    }
    .algoLayout .badges .head h4{
        line-height: 54px;        
    }
    .algoLayout .badges .badgeGroups{
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7; 
    }
    .algoLayout .badges .footer-badges{
        padding-top: 11px;
    
        overflow: hidden;
}
    .algoLayout .ratingViews{
        border: 1px solid #E7E7E7;
        border-top: none;
        min-height: 543px;
    
        position: relative;
    }
    .algoLayout .ratingViews .chartWrap{
        padding-top: 60px;
        height: 350px;
    }
    .algoLayout .ratingViews .chart{
        height: 350px;
    }
    .algoLayout .ratingViews .subTrackTab{
        min-height: 493px;
    }
    .algoLayout .ratingViews .tabNav ul{
        overflow: hidden;
    }
    .algoLayout .ratingViews .tabNav li{
        float: left;
        width: 153px;
        text-align: center;
        background: #d2d2d2;
    }
    .algoLayout .ratingViews .tabNav li:first-child{
        width: 156px;
    }
    .algoLayout .ratingViews .tabNav li a{
        height: 50px;
        line-height: 50px;
        color: #fff;
        border-right: 1px solid #fff;
        display: block;
        background-image: url(../i/tabNav-arrow.png);
        background-repeat: no-repeat;
        background-color: #d2d2d2;
        background-position: 50% -10px;
    }    
    .algoLayout .ratingViews .tabNav li a:hover{
        background-color: #ffae00;
    }
    .algoLayout .ratingViews .tabNav li a.isActive,
    .algoLayout .ratingViews .tabNav li a.isActive:hover{
        background-color: #ffae00;
        background-position: 50% 0;
    }
    
/* forumPosts */
.forumPosts{
    background: #eee;
    padding-top: 24px;
    padding-bottom: 40px;
    margin-bottom: -32px;
    margin-top: 32px;
}
    .forumPosts .forumList a{
        color: #00ADD0;
    }
    .forumPosts .forumList a:hover{
        color: #00D4FF;
    }
    .forumPosts h2{
        font-size: 30px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 12px;
    }
    .forumPosts h2 small{
        font-size: 18px;
    }
    .forumPosts .post{
        border-bottom: 1px solid #d8d8d8;
        padding: 20px 345px 18px 50px;
        position: relative;
}
    .forumPosts .post .head{    
        line-height: 24px;
}
    .forumPosts .post .thumb{
        position: absolute;
        top: 22px;
        left: 0;
        width: 40px;
        height: 36px;
        background-color: #FFAE00;
        background-image: url(../i/ico-tracks.png);
        background-repeat: no-repeat;
    }
    .forumPosts .postDesign .thumb{
        background-position: 0 -50px;
        background-color: #00ADD0;
    }
    .forumPosts .postDev .thumb,
    .forumPosts .postDevlop .thumb{
        background-position: 0 0;
        background-color: #7AB800;
    }
    .forumPosts .post .thumb:hover{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .forumPosts .post .head .postTitle{
        display: inline-block;
        margin-right: 30px;
    }
    .forumPosts .post .head .postedBy{
        color: #aaa;
        font-size: 12px;
    }
    .forumPosts .post .head .postAuthor{
        display: inline-block;
        margin-left: 3px;
    }
    .forumPosts .postBody{ 
        color: #666;
        font-size: 12px;
    }
    .forumPosts .postInfo{
        position: absolute;
        right: 0;
        top: 18px;    
        font-size: 12px;
        text-align: right;
        color: #aaa;
}
    .forumPosts .postInfo em{
        color: #666;
    }
    
    .forumPosts .postInfo .row{
        line-height: 24px;
    }
    .forumPosts .sep{
        display: inline-block; 
        border-right: 1px solid #bebebe;
    
        width: 1px;
        height: 12px;
        margin: 6px 7px 0;
        vertical-align: top;
}

/* dataChanges */
.dataChanges .pager .pageLink{
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.dataChanges .pager .pageLink.isActive,
.dataChanges .pager .pageLink.isActive:hover{
    color: #666;
    cursor: default;   
}

#mainContent .dataChanges .pager .prevLink{
    margin-right: 5px;
}
#mainContent .dataChanges .pager .nextLink{
    padding-left: 0;
    
    margin-left: 20px;
}

/* ratingTable */
.ratingTable{
    width: 100%;
}
    .ratingTable caption{
        background: #ffae00;
        color: #fff;
        font-size: 12px;
        height: 25px;
        line-height: 24px;
        text-align: left;
        text-indent: 15px;
    }
    .ratingTable thead th{
        background: #f7f7f7;
        vertical-align: middle;
        color: #666;
        height: 25px;
        font-weight: bold;
    
        border: solid #E7E7E7;
        font-size: 12px;
        border-width: 1px 0;
}
    .ratingTable td{
        text-align: center;
        color: #666;
    
        height: 28px;
        vertical-align: middle;
    
        font-size: 12px;
}
    .ratingTable .alt td{
        background: #f7f7f7;
    }
    table .alignL{
        text-align: left;
    }
    .ratingTable .colProblem{
        padding: 0 15px;
        text-align: left;
    }
    .ratingTable .colDetails{
        padding: 0 15px;
        text-align: left;
    }
    .ratingTable .colTotal{
        padding: 0 15px;
        text-align: right;
    }
/* leftTabSplit layout */
.leftTabSplit{
    display: block;
}
.leftTabSplit .leftTabStream{
    width: 236px;    
    float: left;
    height: 492px;
}
.leftTabSplit .mainTabStream{
    margin-left: 237px;
    border-left: 1px solid #e7e7e7;
}

.srm .chartGroup .chartWrap{
    padding: 0;
    position: relative;
    height: auto;
}
    .srm .chartGroup .chart{
        height: 164px;
    
        width: 236px;
}
    .srm .chartGroup .chartLbl{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 53px;
        color: #666;
    }
    .srm .chartGroup .chartLbl em{
        display: block;
        font-size: 30px;
        color: #81bc01;
        line-height: 34px;
    }
    .srm .chartGroup .chartYellow .chartLbl em{
        color: #ffae00;
    }
/* web design */
.designLayout{
    display: block;
}
    .designLayout .ratingInfo{
        min-height: 685px;
        border: 1px solid #e7e7e7;
    }
    .designLayout .submissionThumb{
        width: 412px;
        float: left;
    
        height: 412px;
        overflow: hidden;
}
    .designLayout .submissionThumb img{
        width: 412px;
    }
    .designLayout .rwsDetails{
        margin-left: 412px;
    
        border-left: 1px solid #E7E7E7;
}
    .designLayout .rwsDetails .head{
        height: 53px;
        border: none;
        border-bottom: 1px solid #E7E7E7;
    
}
    .designLayout .rwsDetails h4{
        text-align: center;
        line-height: 54px;
    }
    .designLayout .winInfo .contestTitle{
        padding-left: 46px;
        display: block;
        position: relative;
        min-height: 36px;
        color: #00aeff;
        width: 245px;
        margin: 20px auto 0;
    }
    .designLayout .winInfo .contestTitle i{
        position: absolute;        
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 36px;
        background-color: #7AB800;
        background-image: url(../i/ico-tracks.png);
        background-repeat: no-repeat;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);     
        
}
    .designLayout .winInfo .contestTitle:hover{
        color: #00D4FF;
    }
    .designLayout .winInfo .contestTitle:hover i{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        transition-duration: 0.3s;
    }
    .designLayout .winInfo .badgeImg{
        margin-top: 22px;
        height: 168px;
        background: url(../i/win-badge-big.png) no-repeat;
        background-position: 50% 0;
    }
    .designLayout .winInfo .prizeAmount{
        text-align: center;    
        margin-top: 12px;
        height: 36px;
}
    .designLayout .winInfo .prizeAmount .val{
        position: relative;
        display: inline-block;
        padding-left: 35px;
        line-height: 36px;
        font-size: 30px;
        color: #333;
    }
    .designLayout .winInfo .prizeAmount i{
        background: url(../i/ico-usd.png) 0 0 no-repeat;
        height: 27px;
        width: 27px;
        position: absolute;
        left: 0;
        top: 5px;        
    }
    .designLayout .winInfo .submittedOn{
        margin-top: 15px;
        text-align: center;
        background: #f7f7f7;
        border-top: 1px solid #e7e7e7;
        height: 48px;
        line-height: 48px;
        color: #7c878b;
    }
    .designLayout .winInfo .submissionCarousel{
        border-top: 1px solid #e7e7e7;
        height: 200px;
    }
    
    .submissionCarousel .bx-controls{     
         bottom: 13px;
         z-index: 60;
         width: auto;
         margin-left: 452px;
}
/* slider-ctrl */
.slider-ctrl{
    display: block;
    text-align: center;
}
        .slider-ctrl .slider-pager{
            overflow: hidden;        
            display: inline-block;
        }
        .ie7 .slider-ctrl .slider-pager{
            overflow: hidden;        
            display: block;
            width: 150px;
            margin: 0 auto;
        }
        .slider-ctrl .slider-pager-item{
            float: left;
            margin-left: 14px;
            text-align: left;
            text-indent: -100px;
            overflow: hidden;            
        }
    .slider-ctrl .slider-pager-item a{
        display: block;
        height: 16px;
        width: 16px;
        background: url(../i/nav-dot-blue.png) no-repeat;
        background-position: 0 -30px;            
        -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
    }
    .slider-ctrl .slider-pager-item a.isActive,
    .slider-ctrl .slider-pager-item a:hover{
        background-position: 0 0px;                
    }
    .submissionCarousel .slider{ 
        width: 210px;
        height: 215px;    
        position: relative;
        margin: 15px auto 18px;  
        -webkit-transform-style: preserve-3d;  
        -moz-transform-style: preserve-3d;  
        -o-transform-style: preserve-3d;  
        -ms-transform-style: preserve-3d;  
        transform-style: preserve-3d;  
        -webkit-perspective: 1000px;  -moz-perspective: 1000px;  -o-perspective: 1000px;  -ms-perspective: 1000px;  perspective: 1000px;
}
     .submissionCarousel .slider .slide{
        border: 1px solid #e8e8e8;        
         width: 205px;
        height: 205px;
     
        cursor: pointer;
} 
    .submissionCarousel .slider .slide figure{
        max-height: 100%;
        overflow: hidden;
    }
     .submissionCarousel .slider .slide.current{
         border: 5px solid #00aeff;      
         border-radius: 5px;
     }
     .submissionCarousel .slider .slide img{
         width: 100%;
     }
     .submissionCarousel .slider #iCarouselPrev,
     .submissionCarousel .slider #iCarouselNext{
         position: absolute;
         left: -268px;
         top: 88px;
         z-index: 1000;
         min-width: 30px;
         background: url(../i/caro-nav.png) no-repeat;
         background-position: 50% 9px;
         height: 30px;
         overflow: hidden;
         cursor: pointer;
         text-indent: -100px;
         border: 1px solid transparent;
     }
     .submissionCarousel .slider #iCarouselNext{
         left: auto;
         right: -268px;
         background-position: 50% -21px;
     }
      .submissionCarousel .slider #iCarouselPrev:hover{
         background-position: 40% 9px;      
     }
     .submissionCarousel .slider #iCarouselNext:hover{
         background-position: 60% -21px;       
     }
     .submissionCarousel #iCarousel-timer{
         display: none !important;
     }
     .submissionCarousel{
         border-top: 1px solid #e7e7e7;
         overflow: hidden;
}

/*toolTips*/
.toolTips {
    position: absolute;
    width: 158px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.toolTips h3 {
    padding: 5px 7px 4px 7px;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background: rgba(0, 0, 0, 0) url(../i/toolTipsBg.png) 0 0 repeat;
    border: 1px solid #000000;
    border-bottom-color: #474747;
}

.toolTips .tipsContent {
    line-height: 14px;
    font-size: 11px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0) url(../i/toolTipsBg.png) 0 0 repeat;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.toolTips .tipsContent p {
	margin:0;
    padding: 12px 7px 10px 7px;
    border-bottom: 1px solid #474747;
    color: #989898;
	min-height:10px;

}

.toolTips .tipsContent .timeStamp {
    display: block;
    padding: 4px 7px 5px 7px;
    color: #595959;

}

.toolTips .tipsArrow {
    width: 158px;
    height: 20px;
    display: block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url(../i/toolTipsArrows.png) 0 0 no-repeat;
}