/* some banner layout will be styled by this CSS, so please ensure to element ID to avoid overriden between banners */

/* banner 1 */
#header #banner1 {
   width: 966px;
 background:url("../i/banner/b1_background.png") 0 0 no-repeat; /* put your asset here */
}

#header #banner1 .logo{
    background:url("../i/banner/b1_logo.png") 0 0 no-repeat;
    width:134px;
    height: 129px;
    float: left;
    margin: 15px 0 0 15px;
}
#header #banner1 .header{
    background:url("../i/banner/b1_digital_inovation.png") 0 0 no-repeat;
    width:620px;
    height: 73px;
    float: left;
    margin: 30px 0 0 0 ;
}
#header #banner1 .button{
    background:url("../i/banner/b1_button.png") 0 0 no-repeat;
    width:105px;
    height: 62px;
    float: right;
    margin-top: 43px;
    padding: 10px 0 0 75px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}
#header #banner1 .button:hover{
    background-position: 0 -72px;
}
#header #banner1 .button strong{
    font-size: 26px;
}
#header #banner1 .smallHeader{
   color: #FFF;
    float: left;
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#header #banner1 .footerText{
    float: left;
    margin: 5px 10px;
}
#header #banner1 .clear{
    clear: both;
}
#header #banner1 .footerText span{
    float: left;
    margin: 2px 5px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}
#header #banner1 .footerText span.arrow{
    background:url("../i/banner/b1_arrow.png")  center no-repeat;
    height: 15px;
    width:10px;
    margin: 2px 0;
}
#header #banner1 .footerText strong.red{
    color: #FF0000;
    text-decoration: none;
}

#header #banner1 a.wantToTalk{
    color: #FFF;
    background:url("../i/banner/b1_bullet.png")  no-repeat;
    text-transform: uppercase;
    padding-left: 25px;
    float: right;
    font-weight: bold;
    margin: 5px 25px 0 0 ;
    line-height: 22px;
    height: 22px;
    cursor: pointer;
    text-decoration: underline;
}
#header #banner1 a.wantToTalk:hover{
    text-decoration: underline;
}

/* banner 2 */
#banner2 {
    background: url(../i/banner/b2_background.png) no-repeat !important;
}

#banner2 .rightBar{
    float: right;
    width: 200px;
    height: 170px;
}
#banner2 .rightBar a.button{
    margin: 40px 0 0 27px;
    background: url(../i/banner/b2_button.png) no-repeat !important;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 123px;
    padding: 13px 0 0 20px;
    cursor: pointer;
}
#banner2 .rightBar a.button span.first {
    position: relative;
    color: #000;
}

#banner2 .rightBar a.button span.last{
    position: absolute;
    top: -1px;
    left: -1px;
    color: #FFF;
}
#banner2 .rightBar a.button:hover{
    background: url(../i/banner/b2_button.png) 0 -43px no-repeat !important;
    color: #FF0000 !important;
}

#banner2 .rightBar a.button{
    margin: 40px 0 0 27px;
    background: url(../i/banner/b2_button.png) no-repeat !important;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 123px;
    padding: 13px 0 0 8px;
    cursor: pointer;
    text-transform: uppercase;
}
#banner2 .rightBar a.learnMore {
    margin: 18px 0 0 30px;
    background: url(../i/banner/b2_bullet.png) no-repeat !important;
    padding-left: 15px;
    float: left;
    height: 11px;
    cursor: pointer;
}
#banner2 .rightBar a.learnMore:hover{
    background: url(../i/banner/b2_bullet.png) 0 -11px no-repeat !important;
}
#banner2 .rightBar a.learnMore:hover  span.first{
    color: #FF0000;
}
#banner2 .rightBar a.learnMore span.first,
#banner2 .rightBar a.button span.first {
    position: relative;
    color: #000;
}

#banner2 .rightBar a.learnMore span.last,
#banner2 .rightBar a.button span.last{
    position: absolute;
    top: -1px;
    left: -1px;
    color: #FFF;
}

#banner2 .leftBar {
    float: left;
    width : 755px;
    height: 170px;
}
#banner2 .leftBar .memberCount{
    min-width: 50px;
}
#banner2 .leftBar h1{
    color: #FFF;
    font-size: 15px;
    margin: 20px 0 0 145px;
    font-weight: normal;
}

#banner2 .leftBar h2{
    color: #FFF;
    font-size: 28px;
    float: left;
    margin: 5px 0 0 145px;
    font-weight: normal;
}

#banner2 .leftBar h2 span.first {
    position: relative;
    color: #000;
    width: 580px
}

#banner2 .leftBar h2 span.last{
    position: absolute;
    top: -1px;
    left: -1px;
    color: #FFF;
    width: 580px
}
#banner2 .leftBar h3{
    color: #1e0a5f;
    font-size: 20px;
    float: left;
    margin-top: -28px;
    margin-left: 290px;
    line-height: 18px;
}
#banner2 .leftBar h3 span{
        font-size: 15px;
}










/* banner 3 */
.fLeft{float: left;}
.clear{clear: both;}
/* banner 3 */
#header #banner3.banner
{
	padding: 11px 18px 0;
	width: 926px;
	height: 175px;
}
	
	#banner3 .right
	{
		margin: 23px 23px 19px 330px;
	}

	#banner3 h2
	{
		font-family: Arial, sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 24px;
		color: #000;
		margin-bottom: 7px;
	}
	#header #banner3.banner p
	{
		position: relative;
		font-family: Arial, sans-serif;
		font-size: 18px;
		font-weight: normal;
		color: #333;
	}
	
	#banner3 p.textUnder
	{
		margin: 0 33px;
		padding-top: 8px;
		border-top: 1px solid #d5d5d5;
		text-align: center;
		line-height: 24px;
	}
#banner3 p.textUnder span.red
{
	color: #f00;
}

#header #banner3.banner a.btn1,
#header #banner3.banner a.btn1 .mask,
#header #banner3.banner a.btn1 .text
{
	
	display: inline-block;
	background: transparent url(../i/banner/b3_watchButton.png) no-repeat;
	cursor: pointer;
	height: 63px;
	line-height: 18px;
}
#header #banner3.banner a.btn1
{
	position: absolute;
	right: -5px;
	top: 30px;
	background-position: left top;
	padding-left: 9px;
	text-decoration: none;
}
	#header #banner3.banner a.btn1 .mask
	{
		background-position: right -126px;
		padding-right: 9px;
    }
		#header #banner3.banner a.btn1 .text 
		{
			font-family: arial, sans-serif;
			background-position: left -63px;
			background-repeat: repeat-x;
			padding: 15px 2px;
			height: 30px;
			line-height: 18px;
			text-align: left;
			color: #993300;
			font-size: 14px;
			font-weight: bold;
        }
        #header #banner3.banner a.btn1 img
        {
        	margin: 0 5px; 
        }
		#header #banner3.banner a.btn1:hover{ background-position:left -189px;}
		#header #banner3.banner a.btn1:hover .mask{ background-position:right -315px;}
		#header #banner3.banner a.btn1:hover .text{ background-position:left -252px;}

#header #banner3.banner a.btn2,
#header #banner3.banner a.btn2 .mask,
#header #banner3.banner a.btn2 .text
{
	display: inline-block;
	background: transparent url(../i/banner/b3_bgBtn.png) no-repeat;
	cursor: pointer;
}
#header #banner3.banner a.btn2
{
	background-position: left top;
	padding-left: 2px;
	text-decoration: none;
	height: 29px;
	margin: 0 8px;
}
	#header #banner3.banner a.btn2 .mask
	{
		background-position: right -58px;
		padding-right: 2px;
		height: 29px;
    }
		#header #banner3.banner a.btn2 .text 
		{
			font-family: Tahoma, Geneva, Verdana, sans-serif;
			background-position: left -29px;
			background-repeat: repeat-x;
			padding: 0 10px;
			height: 29px;
			line-height: 29px;
			text-align: center;
			color: #456074;
			font-size: 11px;
			font-weight: bold;
        }
	#header #banner3.banner a.btn2:hover{ background-position:left -87px;}
	#header #banner3.banner a.btn2:hover .mask{ background-position:right -145px;}
	#header #banner3.banner a.btn2:hover .text{ background-position:left -116px;}
	
	
/* banner 1 */
#banner4 {
    width: 963px !important;
    height: 190px !important;
    background:url("../i/banner/b4_background.png") 0 0 no-repeat !important; /* put your asset here */
    position: relative !important;
}

#banner4 .button{
    position: absolute;
    top: 114px;
    right: 39px;
    background:url("../i/banner/b4_button.png") 0 0 no-repeat;
    line-height: 31px !important;
    height: 31px !important;
    width: 175px;
    display: block;
    padding-right: 22px;
    text-shadow: #000000 1px 1px 1px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
#banner4 .button:hover{
    background:url("../i/banner/b4_button.png") 0 -31px no-repeat;
}
#banner4 h1{
    line-height: 38px;
    position: absolute;
top: 19px;
left: 340px;
    color: #455560;
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #FFF 1px 1px 1px;
}
#banner4 h1 span{
    color: #37910f;
}

#banner4 h2{
    line-height: 17px;
    position: absolute;
    top: 114px;
    left: 340px;
    color: #3A4A54;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: white 1px 1px 1px;
}	

/* banner5 Watch Now */
#header #banner5{
			  width:978px;
			  height:190px;
              background: url("../i/banner/banner5_bg.png") top center no-repeat;
          }
          #header #banner5 a{
              height: auto;
          }
          #banner5 #watchVideo{
              background: url("../i/banner/b5_button.png") no-repeat top right;			  
			  width:179px;
			  height:72px !important;
              top:46px;			  
			  left: auto;
			  right:3px;
          }		  
		  #banner5 #watchVideo:hover{
		  background-position:bottom right;
		  }
		  
          #header #banner5 .slogan{
              position: absolute;              
              bottom: 38px;
			  left: 18px;
          }
          #header #banner5 .btn_more{
              background: url("../i/banner/icon_arrow.png") no-repeat;
              padding-left: 28px;
              line-height: 26px;
              position: absolute;
              right: 25px;
              bottom: 15px;
              font-weight: bold;
              font-size: 12px;
              color: #fff;
              text-decoration: underline;
          }
          #header #banner5 .intro{
              position: absolute;
              left: 25px;
              bottom: 20px;
              font-weight: bold;
              font-size: 13px;
              color: #fff;
          }
          #header #banner5 .intro span{
              color: #f90000;
          }

