/* common css */
.fontGray{
	font-family: 'Arial', Helvetica, Tahoma, sans-serif;
	color: #666666;
	font-size: 18px;
}
/*----------------------------------- Button style -----------------------------*/
a.redBigBtn{
    background: url( ../i/red-button-big.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
    padding-left: 5px;
    text-decoration:none;
}

    a.redBigBtn .buttonMask {
        background: url( ../i/red-button-big.png ) no-repeat;
    	background-position: 100% -90px;
        padding-right: 5px;
        display: inline-block;
        cursor: pointer;
    }

        a.redBigBtn .text {
            background: url( ../i/red-button-big.png ) repeat-x;
    		background-position: 0 -45px;
            display: inline-block;
            height: 45px;
            line-height: 45px;
            color: #fffefe;
            font-size: 20px;
            width: 335px;
            text-align: center;
            cursor: pointer;
            text-shadow: rgba(0, 0, 0, 0.3) 0px -2px 0px;
        }
    a.redBigBtn:hover {
        background-position: 0 -135px;
		text-decoration:none;
    }
        a.redBigBtn:hover .buttonMask {
            background-position: right -225px;
        }
            a.redBigBtn:hover .text {
                background-position: 0 -180px;
            }
a.greenBigBtn {
	background: url( ../i/green-button-big.png) no-repeat;
}
	a.greenBigBtn .buttonMask {
		background: url( ../i/green-button-big.png) no-repeat;
		background-position: 100% -90px;
	}
	a.greenBigBtn .text  {
		background: url( ../i/green-button-big.png ) repeat-x;
		background-position: 0 -45px;
		font-size: 18px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.35);
	}
		a.greenBigBtn:hover .text  {
			background-position: 0 -180px;
		}
		a.greenBigBtn:hover .buttonMask {
            background-position: right -225px;
        }
a.redBtn .text{
	font-family: 'Arial', Helvetica, Tahoma, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
a.blueBtn{
    background: url( ../i/blue-button.png) no-repeat left top;
    display: inline-block;
    padding-left: 4px;
    text-decoration:none;
}

    a.blueBtn .buttonMask {
        background: url( ../i/blue-button.png ) no-repeat right -108px;
        padding-right: 4px;
        display: block;
        cursor: pointer;
    }

        a.blueBtn .text {
            background: url( ../i/blue-button.png ) repeat-x left -54px;
            display: block;
            height: 27px;
            line-height: 27px;
            color: #fffefe;
            font-size: 11px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.25);
            text-align: center;
            font-weight: bold;
            padding: 0 15px;
            cursor: pointer;
            font-family: "Arial", Helvetica, Tahoma, sans-serif;
        }
    a.blueBtn:hover {
        background-position: 0 -27px;
		text-decoration:none;
    }
        a.blueBtn:hover .buttonMask {
            background-position: right -135px;
        }
            a.blueBtn:hover .text {
                background-position: 0 -81px;
            }
         
a.greenBtn{
    background: url( ../i/green-button.png) no-repeat left top;
    display: inline-block;
    padding-left: 4px;
    text-decoration:none;
}

    a.greenBtn .buttonMask {
        background: url( ../i/green-button.png ) no-repeat right -168px;
        padding-right: 4px;
        display: block;
        cursor: pointer;
    }

        a.greenBtn .text {
        	font-family: "Arial", Helvetica, Tahoma, sans-serif;
            background: url( ../i/green-button.png ) repeat-x left -84px;
            display: block;
            height: 42px;
            line-height: 42px;
            color: #fffefe;
            font-size: 11px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.75);
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    a.greenBtn:hover {
        background-position: 0 -42px;
		text-decoration:none;
    }
        a.greenBtn:hover .buttonMask {
            background-position: right -210px;
        }
            a.greenBtn:hover .text {
                background-position: 0 -126px;
            }

/* home 2013 layout */
.mainHome{
	display: block;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}
	.mainHome .mask{
		width: 960px;
		min-width: 960px;
		margin: 0 auto;
	}
	.mainHome .graySectoin{
		background: url(../i/bg-twocols.png) 0 0 repeat;
	}
	.mainHome .twoCols{
		min-height: 542px;
		margin-left: -25px;
		padding-top: 12px;
	}
		.mainHome .twoCols .tcCommunity{
			float: left;			
			font-family: Arial, Helvetica, Tahoma, sans-serif;
			padding-top: 6px;
			background: url(../i/bg-wbox-t.png) 0 0 no-repeat;
			
			width: 439px;
			padding-left: 0;
		}
			.mainHome .twoCols .tcCommunity .boxBottom{
				background: url(../i/bg-wbox-b.png) 0 100% no-repeat;
				padding-bottom: 29px;
			}
				.mainHome .twoCols .tcCommunity .boxCon{
					background: url(../i/bg-wbox-m.png) 0 0 repeat-y;
				}
			.mainHome .twoCols .tcCommunity .communityWorld{
				background: url(../i/bg-world.png) 0 0 no-repeat;
				overflow: hidden;
				margin-top: -2px;
				text-align: center;
				padding: 0 40px;
			}
		.mainHome .twoCols .tcCommunity .desc{
			line-height: 32px;
			font-family:  Arial, Helvetica, Tahoma, sans-serif;
			font-size: 25px;
			color: #2f2f2f;
			text-shadow: 0 1px 0 rgba(255,255,255,0.7);
			line-height: 34px;
			padding-top: 32px;
			margin-bottom: 18px;
			letter-spacing: 1px;
			word-spacing: 1px;
		}
			.mainHome .twoCols .tcCommunity .desc small{
				font-size: 17px;
			}
			.mainHome .twoCols .tcCommunity .desc .txtAlt{
				color: #333333;
			}
			.mainHome .twoCols .tcCommunity .desc .memberCount{
				color: #df0000;
				font-size: 34px;
			}
			.mainHome .twoCols .tcCommunity .tcBranding{
				font-size: 22px;
				background: url(../i/tc-branding-glow.png) -7px 1px no-repeat;
				padding-top: 232px;
				margin-top: 0px;
				margin-bottom: 22px;
				word-spacing: 1px;
				letter-spacing: 1px;
			}
			.mainHome .twoCols .tcCommunity .joinRow{
				margin: 0;
			}
			.mainHome .twoCols .tcCommunity .tagText{
				margin-top: 15px;
				margin-bottom: 12px;
				letter-spacing: 1px;
			}
	/* openInnovation */
	.mainHome .twoCols .openInnovation{
		width: 535px;
		margin-left: 449px;
	}
		.mainHome .twoCols .openInnovation .gradient{
		}
		.mainHome .twoCols .openInnovation .desc{
			font-size: 29.96px;
			line-height: 30px;
			text-align: center;
			text-shadow: 0 2px 0 #ffffff;
			color: #333;
			background: url(../i/shadow-oi.png) 50% 100% no-repeat;
			padding-bottom: 16px;
			letter-spacing: 1px; 
			word-spacing: 1px;
		}
			.mainHome .twoCols .openInnovation .desc span{
				font-weight: bold;
				font-size: 32px;
				line-height: 51px;
			}
		.mainHome .twoCols .openInnovation .listCon{
			position: relative;
			line-height: 30px;
			padding-left: 67px;
			padding-top: 11px;			
			color: #333;
		}
			.mainHome .twoCols .openInnovation .listCon p{
				background: url(../i/ico-tick.png) 0 7px no-repeat;
				padding-left: 26px;
				word-spacing: 1px;
				letter-spacing: 1px;
			}
			.mainHome .twoCols .openInnovation .listCon .focused{
				font-weight: bold;
			}
			.ribbonBtn{
				height: 35px;
				width: 136px;
				text-align: center;
				line-height: 30px;
				color: #fffffe;
				font-size: 12px;
				font-family: "Arial", Helvetica, Tahoma, sans-serif;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
				background: url(../i/btn-ribbon.png) 0 0 no-repeat;
				font-weight: bold;
			}
			.ribbonBtn:hover{
				text-decoration: none;
				background: url(../i/btn-ribbon.png) 0 100% no-repeat;
			}
			.mainHome .twoCols .openInnovation .listCon .ribbonBtn{
				position: absolute;
				right: 0;
				top: 40px;
			}
			.mainHome .twoCols .openInnovation .listCon .ribbonBtn.btnEditions{
				right: 0;
				top: 85px;
			}
	.mainHome .videos{
		overflow: hidden;
		color: #333333;
		font-family: arial, Helvetica, Tahoma, sans-serif;
		color: #333;
		font-size: 16px;
		line-height: 20px;
		padding-left: 13px;
		padding-top: 26px;
		position: relative;
	}
		.mainHome .videos .thumb{
			position: absolute;
			left: 27px;
			top: 20px;
			width: 200px;
			height: 150px;
		}
		.mainHome .videos .vidFrame{
			position: relative;
			padding-top: 209px;
			padding-left: 16px;
			background: url(../i/vid-frame.png) no-repeat;
			background-position: 0 0;
			font-size: 14px;
			text-align: center;
			margin-bottom: 3px;
		}
			.mainHome .videos .vidFrame .play{
				position: absolute;
				top: 62px;
				left: 81px;
				height: 25px;
				width: 90px;
				padding-top: 80px;
				background: url(../i/ico-play-alt.png) 50% 0 no-repeat;
				text-align: center;
				color: #666666;
				font-size: 12px;
				font-family: arial, Helvetica, Tahoma, sans-serif;
			}
			.mainHome .videos .vidFrame:hover{
				background-position: 0 -389px;
				cursor: pointer;
			}
			.mainHome .videos .vidFrame:hover .play{
				background: url(../i/ico-play-alt.png) 50% -150px no-repeat;
			}
			.mainHome .videos .vidFrame .play:hover{
				text-decoration: none;
			}
			.mainHome .openInnovation .btns{
				text-align: center;
				padding-top: 24px;
				margin: 0;
			}
				.mainHome .openInnovation .btns .btnGroup{
					overflow: hidden;				
					position: relative;	
					display: inline-block;
				}
					.mainHome .openInnovation .btns .btnGroup .or{
						position: absolute;
						left: 186px;
						top: 0;
						width: 30px;
						background: url(../i/ico-gcirc.png) 0 0 no-repeat;
						z-index: 10;
						text-align: center;
						line-height: 44px;
						color: #fffffe;
						text-shadow: 0 1px 2px rgba(255,255,255,0.35);
						font-size: 14px;
						font-family: Helvetica, Tahoma, sans-serif;
						font-style: italic;
					}
					.mainHome .openInnovation .btns .btnGroup .greenBigBtn{
						float: left;
					}
					.mainHome .openInnovation .btns .btnGroup .btnAlt{
						background: none;
						padding-left: 0;	
					}
				.mainHome .openInnovation .btns .greenBigBtn .text{
					width: 198px;
				}
				.mainHome .openInnovation .btns .greenBigBtn.btnAlt .text{
					width: 192px;
				}
		.mainHome .videos .ltVideo{
			float: left;
			width: 252px;
		}
		.mainHome .videos .rtVideo{
			float: left;
			width: 252px;
			margin-left: 7px;
		}
			.mainHome .videos .rtVideo .vidFrame{
				padding-left: 8px;			
			}
/* tcPublications */
.tcPublications{
	background: #d3d3d3 url(../i/bg-publication.png) 0 0 repeat-x;
	min-height: 326px;
	padding-bottom: 6px;	
	margin-bottom: 1px;
}
	.tcPublications .mask{
		background: url(../i/shadow-top.png) 50% 0 no-repeat;
		padding-top: 16px;
	}
		.tcPublications ul{
			overflow: hidden;
			padding-top: 14px;
			background: url(../i/publication-sepline.png) 100% 100% no-repeat;
		}
			.tcPublications ul li{
				width: 319px;
				min-height: 294px;
				float: left;
				background: url(../i/publication-sepline.png) 0 100% no-repeat;
				text-align: center;
			} 
				.tcPublications .imgWrap{
					height: 184px;
				}
				.tcPublications .tcWebinar .imgWrap img{
					margin-top: 19px;
				}
	.tcPublications h2,
	.tcPublications h2 a{
		font-size: 18px;
		line-height: 22px;
		font-family: arial, Helvetica, Tahoma, sans-serif;
		text-align: center;
		font-weight: normal;
		color: #111111;
	}
	.tcPublications .desc{
		font-size: 12px;
		line-height: 22px;
		color: #111111;
	}
	.tcPublications .blueBtn{
		width: 156px;
	}
	.tcPublications .btns{
		padding-top: 19px;
	}
/* tcTracks */
.tcTracks{
	display: block;
	padding-top: 42px;
	border-top: 1px solid #d2d2d2;
}
	.tcTracks h3{
		color: #111111;
		font-size: 20px;
		line-height: 22px;
		font-family: arial, Helvetica, Tahoma, sans-serif;
		text-align: center;
		margin: 0 18px;
		background: url(../i/bg-track-head.png) 50% 100% no-repeat;
		font-weight: normal;
		height: 48px;
		padding-top: 24px;
	}
	.tcTracks .mask{
		border: 1px solid #d8d8d8;
		background: url(../i/bg-track-gray.png) 0 100% repeat-x;
		min-height: 718px;
		position: relative;
	}
	.tcTracks .corner{
		position: absolute;
		height: 5px;
		width: 5px;
		background: url(../i/corners.png) no-repeat;
		background-position: 0 0;
	}
		.tcTracks .corner.cTL{
			left: -1px;
			top: -1px;
			background-position: 0 0;
		}
		.tcTracks .corner.cTR{
			right: -1px;
			top: -1px;
			background-position: 100% 0;
		}
		.tcTracks .corner.cBL{
			bottom: -1px;
			left: -1px;
			background-position: 0 100%;
		}
		.tcTracks .corner.cBR{
			bottom: -1px;
			right: -1px;
			background-position: 100% 100%;
		}
	.tcTracks .trackList{
		overflow: hidden;		
	}
		.tcTracks .trackList li{
			float: left;
			width: 270px;
			height: 128px;
			margin-left: 40px;
			background: url(../i/line-dotted.png) 0 100% repeat-x;
			padding-top: 52px;
		}
			.tcTracks .trackList li.leftMost{
				margin-left: 34px;
			}
			.tcTracks .trackList .platform{
				font-family: "Arial", Helvetica, Tahoma, sans-serif;
			}
			.tcTracks .trackList .platform .imgWrap{
				float: left;
				width: 85px;
				min-height: 60px;
				line-height: 60px;
			}
				.tcTracks .trackList .platform .imgWrap a, .platformImg{
					display: inline-block;
					height: 91px;
					width: 90px;
					margin-left: -15px;
					margin-top: -10px;
					padding-top: 10px;
					text-align: center;
				}
				.tcTracks .trackList .platform .imgWrap a:hover{
					background: url(../i/bg-platform-hover.png) 0 0 no-repeat;
				}
				.tcTracks .trackList .platform .imgWrap img{
					vertical-align: bottom;
				}
			
			.tcTracks .trackList .platform .desc{
				margin-left: 85px;
			}
				.tcTracks .trackList .platform .desc .type{
					font-family: "Arial", Helvetica, Tahoma, sans-serif;
					font-size: 14px;
					display: block;
					line-height: 22px;
					font-weight: bold;
					color: #0088cc;
				}
				.tcTracks .trackList .platform .desc p{
					color: #333;
					font-size: 12px;
					line-height: 22px;
				}
		.tcTracks footer {
			font-size: 20px;
			line-height: 24px;
			color: #666666;
			position: relative;
			border-top: 1px solid #e5e5e5;
			padding-top: 30px;
			margin: -2px 18px 0;
			padding-left: 24px;
		}
			.tcTracks footer span{
				color: #222222;
				font-size: 24px;
			}
			.tcTracks footer .greenBtn{
				width: 170px;
				top: 33px;
				position: absolute;
				right: 42px;
			}
.mainHome .grayRibbon{
	background: url(../i/bg-grayribbon.png) 0 0 repeat-x;
	margin-top: 44px;
}
	.mainHome .grayRibbon h2{
		min-height: 49px;
		line-height: 49px;
		background: url(../i/gray-ribbon-inner.png) 50% 0 no-repeat;
		text-align: center;
		font-size: 20px;
		font-weight: normal;
		color: #111111;
	}
/* quotes section */
.mainHome .tcQuotes .quoteList{
	overflow: hidden;
	margin: 22px 0 0 0;
}
	.mainHome .tcQuotes li{
		float: left;
		width: 300px;
		margin-left: 12px;
		margin-top: 22px;
	}
	.mainHome .tcQuotes .quoteList li.left{
		margin-left: 18px;
	}
		.mainHome .tcQuotes .quote{
			background: url(../i/quote-box.png) 0 0 no-repeat;
			padding-left: 8px;
		}
			.mainHome .tcQuotes .quote .boxRt{
				background: url(../i/quote-box.png) 100% 100% no-repeat;
				padding-right: 8px;
			}
			.mainHome .tcQuotes .quote .boxMid{
				background: url(../i/quote-box.png) 0 50% repeat-x;
				height: 235px;
			}
		.mainHome .tcQuotes .quote .imgWrap{
			width: 257px;
			height: 128px;
			margin: 0 auto;
			padding: 20px 0 12px;
		} 
		.mainHome .tcQuotes .quote p{
			padding-left: 20px;
			color: #333333;
			font-size: 14px;
			line-height: 14px;
		}
		
		.mainHome .tcQuotes .quote .author{
			margin-top:8px;
		}
		
		.mainHome .tcQuotes .quote .quoteTxt{
			font-style: italic;
		}
		.mainHome .tcQuotes .btns{
			text-align: right;	
			margin-right: 30px;
			padding: 30px 0 40px;
		}
			.mainHome .tcQuotes .btns a.redBtn{
				vertical-align: middle;
			}
			.mainHome .tcQuotes .btns a.redBtn .text{
				width: 121px;
			}
		.mainHome .tcQuotes .clientStories{
			background: url(../i/client-stories.png) 0 0 no-repeat;
			height: 57px;
			width: 54px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
		}
#whiteWrapper{
	position: fixed;
}