@charset "utf-8";

/* .banner */
#content .banner{
    background:url(../i/gray-bg.png) repeat-x 0 0;
    border-bottom:1px solid #d8d8d8;
    height:260px;
}
    #content .banner .bannerInner{
        margin:0 auto;
        width:962px;
    }
        #content .banner figure{
            float:left;
            width:220px;
            margin:0 10px;
            text-align:center;
            position:relative;
        }
            #content .banner figure img{
                position:absolute;
                left:50%;
                top:0;
            }
            #content .banner figure.eoi img{
                margin-left:-58px;
                top:10px;
            }
            #content .banner figure.css img{
                margin-left:-27px;
                top:42px;
            }
            #content .banner figure.edlc img{
                margin-left:-81px;
                top:18px;
            }
            #content .banner figure.atw img{
                margin-left:-45px;
                top:36px;
            }
            #content .banner figure figcaption{
                padding-top:122px; 
            }
                #content .banner figure figcaption h4{
                    font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
                    font-size:16px;
                    color:#000;
                }
                #content .banner figure figcaption p{
                    color:#636373;
                    font-size:11px;
                    line-height:14px;
                    font-family:Tahoma, Arial, Helvetica,  sans-serif;
                    padding:6px 0 10px;
                    min-height:48px;
					text-align:center;
                }
    /* .mainRail */
    #content .mainRail .pagination{
        padding-bottom:70px;
    }
    #content .mainRail section{
        font-family:Tahoma, Arial, Helvetica,  sans-serif;
    }
        #content .mainRail section{
            color:#7f7f7f;
            border-bottom:1px solid #e5e5e5;
            padding:22px 4px 15px 0;
        }
            #content .mainRail section h2{
                font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
                font-weight:normal;
                font-size:24px;
                line-height:24px;
            }
                #content .mainRail section h2 a{
                    color:#000;
                }
                #content .mainRail section h2 a:hover{
                    color:#0090FF;
                }
            #content .mainRail section .meta{
                padding:5px 0 13px;
            }
                #content .mainRail section .meta span{
                    padding:0 5px;
                }
            #content .mainRail section figure{
                overflow:hidden;
            }
                #content .mainRail section figure img{
                    float:left;
                    border:1px solid #d8d8d8;
                    height:155px;
                    width:158px;
                    margin-top:4px;
                }
                #content .mainRail section figure figcaption{
                    padding-left:180px;
                }
                    #content .mainRail section figure figcaption p{
                        line-height:20px;
                        padding-bottom:4px;
                    }
                    #content .mainRail section figure figcaption a{     
                        font-size:11px;
                    }
            #content .mainRail section .social{
                padding-top:15px;
             }
                #content .mainRail section .social img{
                    float:left;
                    margin-right:10px;
                }
    #content .mainRail article{
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        padding-top:25px;
    }
        #content .mainRail article h1{
           font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
           font-weight:normal;
           font-size:36px;
            color:#000;
            line-height:38px;
        }
		
		
        #content .mainRail article .meta{
            overflow:hidden;
            color:#636373;
            font-size:11px;
            padding:20px 0 20px; 
        }
		
		#content .mainRail article img{
			-moz-box-shadow: 2px 2px 2px #888;
			-webkit-box-shadow: 2px 2px 2px #888;
			box-shadow: 2px 2px 2px #888;
			border:1px solid #C0C0C0;
			margin:10px;
		}
		
		#content .mainRail article  img.alignleft {
			float:left;
			margin-right:15px;
		}

		#content .mainRail article  img.alignright{
			float:right;
			margin-left:15px;
		}
					
            #content .mainRail article  .meta .left{
                float:left;
            }
            #content .mainRail article  .meta .right{
                float:right;
                font-weight:bold;
            }
                #content .mainRail article  .meta .right span{
                    font-weight:normal;
                    color:#d8d8d8;
                    padding:0 5px;
                }
        #content .mainRail article .socialPanel{
            background:url(../i/gray-panel-bg.png) no-repeat 0 0;
            padding-left:3px;
            margin-bottom:24px;
        }
            #content .mainRail article .socialPanel .panelR{
                background:url(../i/gray-panel-bg.png) no-repeat right -96px;
                padding-right:3px;

            }
                #content .mainRail article .socialPanel .panelM{
                    background:url(../i/gray-panel-bg.png) repeat-x 0 -48px;
                    height:38px;                    
                    padding:0 8px;
					padding-top:10px
                }
                    #content .mainRail article .socialPanel img{
                        float:left;
                        margin:14px 10px 0 0;
                    }
        #content .mainRail article figure,
        #content .mainRail article p{
            color:#7f7f7f;
            padding-bottom:16px;
            line-height:18px;
        }
        #content .mainRail article figure{
            text-align:center;
        }
            #content .mainRail article figure h5{
                color:#333;
                text-align:left;
            }
            #content .mainRail article figure img{
                border:1px solid #a5a5a5;
            }
        #content .mainRail article .tags{
            line-height:16px;
            font-size:11px;
            color:#636373;
            border-top:1px solid #d8d8d8;
            padding:16px 0;
        }
            #content .mainRail article .tags label{
                display:inline-block;
                background:url(../i/tag-icon.png) no-repeat 0 4px;
                padding-left:16px;
            } 
        #content .mainRail article .navigate{
            border-top:1px solid #d8d8d8;
            border-bottom:1px solid #d8d8d8;
            overflow:hidden;
            font-weight:bold;
            font-size:11px;
            padding:15px 0 20px;
        }
            #content .mainRail article .navigate .prev{
                float:left;
                width:240px;
            }
                #content .mainRail article .navigate .prev a.btn{
                    background:url(../i/navi-button-1.png) no-repeat 0 0;
                    height:43px;
                    width:24px;
                    float:left;
                    margin-top:5px;
                }
                #content .mainRail article .navigate .prev a.btn:hover{
                    background-position:0 -43px;
                }
                #content .mainRail article .navigate .prev div{
                    padding-left:34px;
                }
                    #content .mainRail article .navigate .prev div span{
                        display:block;
                        font-size:16px;
                        color:#302f2f;
                    } 
            #content .mainRail article .navigate .next{
                float:right;
                width:260px;
            }
                #content .mainRail article .navigate .next a.btn{
                    background:url(../i/navi-button-1.png) no-repeat 0 -86px;
                    height:43px;
                    width:24px;
                    float:right;
                    margin-top:5px;
                }
                #content .mainRail article .navigate .next a.btn:hover{
                    background-position:0 -129px;
                }
                #content .mainRail article .navigate .next div{
                    text-align:right;
                    padding-right:34px;   
                }
                    #content .mainRail article .navigate .next div span{
                        display:block;
                        font-size:16px;
                        color:#302f2f;
                    } 
            #content .mainRail article .commentBox header{
                overflow:hidden;
                padding:22px 0 20px
            }
                #content .mainRail article .commentBox header h2{
                    float:left;
                    font-size:23px;
                    font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
                    font-weight:normal;
                }
                #content .mainRail article .commentBox header a{
                    float:right;
                }
                    #content .mainRail article .commentBox header a .text{
                        width:42px;
                    }
            #content .mainRail article .commentBox .addComment{
                overflow:hidden;
                padding:0 0 18px;
            }
                #content .mainRail article .commentBox .addComment a{
                    float:left;
                }
                    #content .mainRail article .commentBox .addComment a img{
                        display:block;
                        border:1px solid #929ca3;
                        height:34px;
                        width:34px;
                    }
                #content .mainRail article .commentBox .addComment .textarea{
                    position:relative;
                    background:url(../i/textarea-bg.png) #e6e6e6 repeat-x 0 0;
                    border-top:1px solid #b9b9b9;
                    border-right:1px solid #cccccc;
                    border-left:1px solid #cccccc;
                    border-bottom:1px solid #e1e1e1;
                    margin-left:46px;
                    padding:6px 4px;
                }
                    #content .mainRail article .commentBox .addComment .textarea textarea{
                        border:0;
                        background:none;
                        height:72px;
                        width:500px;
                    }
                    #content .mainRail article .commentBox .addComment .textarea .corner{
                        position:absolute;
                        background:url(../i/textarea-corner.png) no-repeat 0 0;
                        height:3px;
                        width:3px;
                        overflow:hidden;
                    }
                    #content .mainRail article .commentBox .addComment .textarea .tl{
                        left:-1px;
                        top:-1px;
                    }
                    #content .mainRail article .commentBox .addComment .textarea .tr{
                        right:-1px;
                        top:-1px;
                        background-position:-3px 0;
                    }
                    #content .mainRail article .commentBox .addComment .textarea .bl{
                        left:-1px;
                        bottom:-1px;
                        background-position:0 -3px;
                    }
                    #content .mainRail article .commentBox .addComment .textarea .br{
                        right:-1px;
                        bottom:-1px;
                        background-position:-3px -3px;
                    }
            #content .mainRail article .commentBox .comments{
                border-top:1px solid #d8d8d8;
                color:#7f7f7f;
                padding:16px 0;
                line-height:16px;
            }
            #content .mainRail article .commentBox .reactions{
                border-top:1px solid #d8d8d8;
                overflow:hidden;
                color:#7f7f7f;
                padding-bottom:10px;
            }
                #content .mainRail article .commentBox .reactions h6{
                    font-weight:bold;
                    padding:16px 0;
                    line-height:16px;
                }
                #content .mainRail article .commentBox .reactions a{
                    float:left;
                    margin-right:10px;
                }
                    #content .mainRail article .commentBox .reactions a img{
                        display:block;
                        border:1px solid #929ca3;
                        height:34px;
                        width:34px;
                    }

/*e book*/
.ebookWidget{
    width : 387px;
    height: 312px;
    background: url(../i/ebookBg.png) repeat-x;
    border: 1px solid #cbcbcb;
    margin-bottom: 15px;
}

.ebookWidget .header{
    margin: 15px 0 0 3px;
    height: 70px;
    width: 232px;
    padding: 95px 0 0 150px;
    background: url(../i/ebookBanner.png) no-repeat;
}

.ebookWidget .header .text{
    color: #003366;
    font-size: 16px;
    text-shadow: 1px 1px 1px #5287b5;
}


.ebookWidget .body{
    margin: 27px 15px 0 15px;

}
.ebookWidget .body input[type='text']{

    padding-left: 8px;
    width: 156px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #999999;
    float: left;
}
.ebookWidget .body input.grayWords{
    color: #333333;
}
.ebookWidget .body input.blackWords{
    color: #000;
}
#txtName{
    margin-right: 10px;
}
#txtEmail{
   float: right;
}
.ebookWidget .body label{
    margin-top: 10px;
    float: left;
}
.chkWrapper{
    width:15px;
    height:15px;
    float: left;
    margin-top: 12px;
    margin-right: 5px;
}
.errorInput{
    border: 1px solid #FF0000 !important;
}
.ebookWidget .body .unchecked{
    background: url(../i/checkBox.png) no-repeat;
}
.ebookWidget .body .checked{
    background: url(../i/checkBox.png) 0 -15px no-repeat;
}
.ebookWidget .body .checkError{
    background: url(../i/checkBox.png) 0 -30px no-repeat;
}
.ebookWidget .body a.btnGetEbook{
    background: url(../i/btnGetEbook.png) no-repeat;
    width: 168px;
    height: 35px;
    margin-top: 10px;
    float: right;
    margin-left: 15px;
}

.ebookWidget .body a.btnGetEbook:hover{
    background: url(../i/btnGetEbook.png) 0 -35px no-repeat;
}

.ebookWidget .body div.shadow{
    background: url(../i/shadow.png) no-repeat;
    width: 168px;
    height: 16px;
    float: right;
}
.ebookWidget .body .errorText{
    color: #FF0000;
    text-align: center;
}
.clear{
    clear: both;
}
.ebookWidget .result {
    display: none;
    margin-top: 50px;
    text-align: center;
    color: #8bca35;
    font-size: 16px;
}
    
/* bugr 9844 */
#blog #header{
    border-bottom: none;
}
.container{
    margin: 0 auto;
    width: 960px;
    min-width: 960px;
    position: relative;
}
.headerLead .banner{
    position: relative;
    height: 175px;
}
    .headerLead .banner .learnMore{
        position: absolute;
        right: 20px;
        bottom: 8px;
        font-size: 16px;
        color: #fff;
    }
    #header .headerLead .subNav{
        width: 100%;
        height: 48px;
        background: url(../i/subNav-bg.png) repeat-x #363636 0 0;
    }
        #header .headerLead .subNav ul{
            float: none;
        }
        #header .headerLead .subNav li{
            height: 48px;
            line-height: 48px;
        }
            #header .headerLead .subNav li:hover{
                background: transparent;
            }
            #header .headerLead .subNav li a{
                color: #fff;
                font-size: 16px;
                font-weight: normal;
                width: 120px;
                display: inline-block;
                text-align: center;
            }
            #header .headerLead .subNav li a:hover{
                text-decoration: none;
                color: #ccc;
            }
/* .searchBox */
.headerLead .searchBox{
    margin-left: 675px;
    margin-top: 7px;
    margin-bottom: 10px;
}
    .headerLead .searchBox input{
        width: 240px;
    }
#blog .container .mainRail{
    width: 665px;
    margin-top: -30px;
    margin-bottom: 30px;
	float:left;
}
#blog .container .rightRail{
    width: 285px;
	margin-left:10px;
    margin-top: 30px;
	float:left;
}

.categoriesWidg .categoryList a{
    font-weight: bold;
    font-size: 12px;
}
    .categoriesWidg .categoryList > li{
        position: relative;
        height: 22px;
        line-height: 16px;
        padding: 3px 0;
    }
    .categoriesWidg .categoryList > li a{
        display: inline-block;
        position: absolute; 
        left: 0;
        top: 3px;
    }
    .categoriesWidg .categoryList > li a:first-child{
        position: relative;
        left: auto;
        top: auto;
        padding-left: 30px;
    }
#content .rightRail .commonWidget.posts .content{
    padding-bottom: 6px;
}
#content .rightRail .commonWidget header ul li {
    position: relative;
    float: none;
    width: auto;
    font-weight: bold;
    text-align: left;
    text-indent: 16px;
}
#content .archWidg .archList li{
    height: 22px;
    line-height: 16px;
    list-style-type: disc;
    list-style-position: inside;
}
    #content .archWidg ul li a{
        font-size: 12px;    
        list-style-type: disc;
}
#footer .portals{
    display: none;
}
#footer .customers{
    display: none;
}
#footer, #footer.footer-alt{
    height: 35px;
    background: url(../i/footer-bg.jpg) repeat-x #363636 0 100%;
}
body{
    background: #fff;
}	
