/* Prize Table */
.prizeTable {
	width:655px; height:50px;
	margin-top:10px;
	background: url(../i/prize-table.png) no-repeat center center;
	padding-top:6px;
}
	/* Prize Item */
	.prizeItem {
		float:left;
	}
	.prizeItem label {
		display:block;
		text-align:center;
	}
	.prizeItem span {
		margin-top:3px;
		display:block;
		text-align:center;
		font-size:20px;
	}
	
	.placePrize { width:145px; }
	.secondPrize { width:155px; }
	.placePrize span { color:#fe1f1f; }
	.reabilityPrize { width:195px; }
	.reabilityPrize span { color:#fe1f1f; }
	.drPoint { width:160px; }
	.drPoint span { color:#3a90ff; }
	
	/* Prize Item End */
